header nav a {
  font-size: 30px;
  color:white;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50%;  
}

h1,h2 {
  color: white;
}
h3 {
  text-align: center;
}

body {
  font-family: Didot, American Typewriter, URW Bookman L;
}

ul, ol {
  display: table;
  margin: auto;
  text-align: left;
}

.top {
  background-color: darkgreen;
  color: white;
  text-align: center;
  padding: 50px;
}

.middle {
  background-color: lightgreen;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer {
  background-color: lightgreen;
  text-align: center;
  font-size: 30px;
}
