header nav a {
  color: black;
  font-size: 40px;
}

.center-img {
  padding-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;  
}

h1 {
  color: white;
}

body {
  font-family: Didot, American Typewriter, URW Bookman L;
}

ul, ol {
  display: table;
  margin: auto;
  text-align: left;
}

.top {
  background-color: darkgreen;
  text-align: center;
  padding: 50px;
}

.middle {
  background-color: lightgreen;
  padding-bottom: 60px;
  text-align: center;
}
